.title{
    text-transform: capitalize;
    font-size: 2rem;
}

.blogDate{
    display: block;
    font-size: .8rem;
    font-style:oblique;
    color:#555;
    margin-block-start: 0.4rem;
}

.paragraph{
    text-indent: 1.6rem;
    margin-block:  2rem;
}