* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Oxygen, sans-serif;
}

*::selection{
  background-color: rgba(255, 237, 74, 0.781);
  color: black;
}

a{
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fff;
    background: #222;
  }
}
