.description{
  padding: 1.2rem 0.4rem;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

.outLink{
  background-color:rgb(188, 248, 248);
  color:rgb(34, 121, 235);
  padding: .2rem .4rem;
  border-radius: .4rem;
  transition: all 1.2s;
}

.outLink:hover{
  background-color:rgba(163, 41, 233, 0.534);
  color:#fff;
  transition: all 1s;
}


.cards{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1rem;
}
